<%- include('includes/head.ejs') %>
<%- include('includes/navigation.ejs') %>
</head>

<body  >
  <div  class="center" style="text-align:center">
  <img src="/images/404.jpg" class="center" style="height:400px">

  </div>



<%- include('includes/end.ejs') %>
